<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepinnet.rainsfall.biz.dal.dao.OrderMapper">

    <resultMap id="BaseResultMap" type="com.deepinnet.rainsfall.biz.dal.dataobject.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userNo" column="user_no" jdbcType="VARCHAR"/>
            <result property="orderNo" column="order_no" jdbcType="BIGINT"/>
            <result property="payAmount" column="pay_amount" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_no,order_no,
        pay_amount
    </sql>
</mapper>
